@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, dim --dark;
}

:root {
  font-family:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Noto Sans JP", Meiryo, sans-serif;

  color-scheme: light dark;
}
